@import '../../styles/index';

.categories {
  max-width: 1136px;
  margin: 0 auto;
  margin-bottom: 80px;

  &__title {
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
