@use '../../styles/utils/mixins.scss' as *;

@font-face {
  font-family: 'Mont';
  src: url(../../../fonts/Mont-Regular.otf);
}

@font-face {
  font-family: 'Mont Bold';
  src: url(../../../fonts/Mont-Bold.otf);
}

@font-face {
  font-family: 'Mont SemiBold';
  src: url(../../../fonts/Mont-SemiBold.otf);
}

.empty {
  font-family: 'Mont', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding-block: 20px;

  grid-column: 1 / -1;

  @include on-tablet {
    gap: 20px;
  }

  &__image {
    min-width: 35%;
    max-width: 45%;

    // @include on-tablet {
    //   max-width: 350px;
    // }

    // @include on-desktop {
    //   max-width: 500px;
    // }
  }

  &__title {
    font-family: 'Mont-Bold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 22px;
    }

    @include on-desktop {
      font-size: 32px;
    }
  }

  &__description {
    font-size: 14px;

    @include on-tablet {
      font-size: 20px;
    }

    @include on-desktop {
      font-size: 22px;
    }
  }
}
