@use '../../styles/utils/variables.scss' as *;

.pagination {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
  list-style: none;
  gap: 8px;
  margin: 40px 0 80px;
  padding: 0;

  &-page,
  &-next,
  &-prev {
    border: 1px solid #e2e6e9;
    border-radius: 50%;
    box-sizing: border-box;

    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    font-family: 'Mont', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }

  &-page:hover {
    border: 1px solid $primary-color;
  }

  &-active {
    color: #ffffff;
    background-color: $primary-color;
  }

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &-break {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: #666;
    cursor: pointer;
  }
}
