@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/utils/variables.scss' as *;

.product-list {
  @include page-grid;

  &__selectionLabel {
    grid-column: 3 / -1;
    font-family: 'Mont', sans-serif;
    font-size: 12px;
    line-height: 15px;

    @include on-tablet {
      grid-column: 5 / 8;
    }
  }

  &__select {
    height: 40px;
    border: 1px solid $icons-color;
    border-radius: 8px;
    width: 130px;

    font-family: 'Mont', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin: 4px 0 24px;
    color: $primary-color;

    display: flex;
    align-items: center;

    padding: 10px 12px 9px;

    grid-column: 3 / -1;

    @include on-tablet {
      grid-column: 5 / 8;
    }

    &:hover {
      border-color: $secondary-color;
    }

    &:focus {
      outline: none;
      border-color: $primary-color;
    }

    appearance: none;
    background-image: url('../../../public/icons/Chevron\ \(Arrow\ Down\).svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    cursor: pointer;
  }

  &__product-list {
    grid-column: 1 / -1;
    margin: 0 auto;
  }

  // &__product-card {
  //   grid-column: 1 / -1;

  //   @include on-tablet {
  //     grid-column: 1 / 4;
  //   }
  // }

  // &__productList {
  //   // @include page-grid;
  //   grid-column: 1 / span 4;
  //   // justify-self: center;
  //   // grid-template-columns: repeat(1, 1fr);

  //   // @include on-tablet {
  //   //   grid-template-columns: repeat(2, 1fr);
  //   // }

  //   // @include on-desktop {
  //   //   grid-template-columns: repeat(4, 1fr);
  //   // }
  // }
}
