@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/utils/variables.scss' as *;

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf');
}
@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf');
}

.sliderProducts {
  &__wrapper {
    position: relative;
    margin-bottom: 80px;
    // padding-inline: 16px 0;

    // @include on-tablet {
    //   padding-inline: 24px 0;
    // }

    // @include on-desktop {
    //   padding-inline: 32px 0;
    // }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}

.sliderProducts__title-content {
  font-family: 'Mont Bold';
  font-size: 22px;
  font-weight: 800;
  line-height: 30.8px;
  text-align: left;
  letter-spacing: -0.01em;
  width: 136px;

  @include on-tablet {
    width: 491px;
  }

  @include on-desktop {
    width: 560px;
  }
}

.ProductWrapper {
  width: 212px;
  height: 439px;

  @include on-tablet {
    width: 237px;
    height: 512px;
  }

  @include on-desktop {
    width: 272px;
    height: 506px;
  }
}

.product-card-slider {
  width: 100%;
  height: 100%;
  display: flex;
  & > *:first-child {
    align-self: center;
  }
  margin: 0;
}

.swiper-buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 80px;
  height: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin: 0;
  border-radius: 48px;

  border: 1px solid $elements-color;
  background-color: transparent;

  &::after {
    font-size: 10px;
    color: $primary-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
