@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/utils/variables.scss' as *;

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Regular.otf');
}
@font-face {
  font-family: 'Mont-Bold';
  src: url('/fonts/Mont-Bold.otf');
}

.sliderProducts {
  &__wrapper {
    margin: 0 -16px 56px 0;
    height: 577px;
    width: 100%;

    @include on-tablet {
      margin: 0 -24px 64px 0;
      height: 577px;
    }

    @include on-desktop {
      margin: 0 0 80px;
      height: 571px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__title-content {
    font-family: 'Mont Bold';
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;
    text-align: left;
    letter-spacing: -0.01em;
    width: 136px;

    @include on-tablet {
      width: 491px;
    }

    @include on-desktop {
      width: 560px;
    }
  }

  &-buttons-wrapper {
    display: flex;
    gap: 8px;
  }
}

.prevButton,
.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 48px;
  border: 1px solid $secondary-color;
  background-color: transparent;

  cursor: pointer;
  z-index: 10;

  &:not(.disabled):hover svg path {
    fill: $primary-color;
  }

  &.disabled svg path {
    fill: $secondary-color;
  }
}
