@use '../../styles/utils/mixins.scss' as *;
@use '../../styles/utils/variables.scss' as *;

@font-face {
  font-family: 'Mont Bold';
  src: url(../../../fonts/Mont-Bold.otf);
}

.header {
  position: sticky;
  top: 0;
  background-color: $hover-bg-color;
  justify-content: left;
  align-items: center;
  display: flex;
  gap: $header-element-gap;
  height: $header-height;
  border-bottom: 1px solid $elements-color;

  &__logo {
    padding: 0 $header-padding;
    transform: scale($header-logo-scale);
  }

  &__nav {
    display: flex;
    gap: $header-nav-gap;
    height: 100%;

    &_link {
      font-family: 'Mont Bold';
      display: inline-block;
      position: relative;
      text-decoration: none;
      align-content: center;
      color: $secondary-color;
      font-size: 12px;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.04em;
      height: 100%;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &__is-active {
    color: $primary-color;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      bottom: 0;
      left: 0;
      background-color: $primary-color;
      animation-duration: 0.5s;
      animation-name: select;
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    height: 100%;
    align-items: center;

    &_element {
      padding: $header-padding;
      position: relative;
      display: inline-block;
      border-left: 1px solid $elements-color;
    }
  }

  @include on-desktop {
    $header-element-gap: 24px;
    $header-nav-gap: 64px;
    $header-height: 64px;
    $header-padding: 23px;
    $header-logo-scale: 1;

    gap: $header-element-gap;
    height: 64px;

    &__logo {
      padding: 0 $header-padding;
      transform: scale($header-logo-scale);
    }

    &__nav {
      gap: $header-nav-gap;
    }

    &__buttons_element {
      padding: $header-padding;
    }
  }
}

@keyframes select {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
