@use './styles/utils/mixins.scss' as *;
* {
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  padding: 24px 16px;

  @include on-tablet {
    padding: 32px, 24px;
  }

  @include on-desktop {
    padding: 56px, 32px;
  }
}

.container {
  display: grid;
  row-gap: 96px;
  max-width: 1136px; // 1200px
  margin: 0 auto;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
  }
}
