@use './styles/utils/mixins.scss' as *;
@use './styles/utils/variables.scss' as *;
* {
  margin: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding-inline: 16px;

  @include on-tablet {
    padding-inline: 24px;
  }
}

.main {
  background-color: $hover-bg-color;
}
