@use '../../styles/utils/mixins.scss' as *;

.page-container {
  width: 100%;

  .home-page {
    padding-block: 24px;

    @include on-tablet {
      padding-block: 32px;
    }

    @include on-desktop {
      padding-block: 56px;
    }
  }
}
